input {
    width: 100%;
    height: 14px;
    font-size: 14px;
    line-height: 100%;
    border: 1px solid #E4E4E4;
    border-radius: 9px;
}

.auth-logo-unlock {
    margin: 20px 0px 0px 16px;
}

.form-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    font-family: 'Mulish';
    color: #0D0D0D;
}

.register-form-container {
    max-width: 204px;
    height: 20px;
    left: 460px;
    top: 140px;
    padding: 140px 460px 142px 459px;
}

.reg-logo-unlock {
    margin: 20px 20px 0 0;
}

.auth-container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 280px;
    margin: auto;
    margin-top: 7%;
    align-items: center;
}

.auth-form-title {
    margin-bottom: 20px;
    /* font-style: normal; */
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    width: 100%;
}

.auth-form-nav {
    font-weight: 700;
    font-size: 20px;
    color: #0D0D0D;
    opacity: 0.2;
    margin-left: 24px;
    text-decoration: none;
}

.auth-form-input {
    width: 280px;
    height: 40px;
    padding: 13px 20px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: 1px solid #E4E4E4;
    border-radius: 9px;
    background: #f1f1f1;
    font-weight: 400;
    font-size: 14px;
}

.auth-form-input:focus {
    background-color: #ddd;
    border-width: 0px;
    outline: 0;
    /* I have also tried outline:none */
    -webkit-appearance: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.auth-form-input-error {
    width: 100%;
    font-size: 15px;
    padding-left: 15px;
    color: red;
}

.auth-line-container {
    width: 100%;
}

.auth-line {
    background-color: #FAFAFC;
    color: #E4E4E4;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    position: relative;
    margin-top: -3px;
}

.auth-line span {
    background-color: #FAFAFC;
    position: relative;
    z-index: 1;
    padding: 0px 10px;
}

.auth-line:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #E4E4E4;
    position: relative;
    top: 50%;
    margin-top: -10px;
    z-index: 0;
}

.auth-social-container {
    padding: 8px;
    margin: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
}

.auth-approv {
    margin-top: 8px;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.check-container {
    display: block;
    position: relative;
    padding-left: 22px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 6px;
}

.check-container input:checked~.checkmark {
    background: linear-gradient(111.08deg, #5D7BE6 52.67%, #958BFB 84.06%);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.check-container input:checked~.checkmark:after {
    display: block;
}

.check-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1.5px 1.5px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-radius: 1px 1px 1px 1px;
}

.auth-approv-text {
    width: auto;
    font-size: 10px;
    font-weight: 600;
    color: #737373;
    line-height: 104%;
    /* or 10px */
    letter-spacing: -0.015em;
}

.auth-select-role {
    width: 280px;
    height: 40px;
    opacity: 0.8;
    margin-bottom: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E4E4E4;
    border-radius: 9px;
    cursor: pointer;
}

.auth-role-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #737373;
}

/* .auth-approv>input:checked ~ .checkmark{
    background: linear-gradient(111.08deg, #5D7BE6 52.67%, #958BFB 84.06%);
} */
/* .auth-approv>input::before {
    content: '';
    display: inline-block;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 5px;
    border: 1px solid #5D7BE6;
    background-color: #E4E4E4;
    border-radius: 0.25em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

.custom-checkbox:checked::before {
    border-color: #5D7BE6;
    background-color: #5D7BE6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
} */
.registerbtn:hover {
    opacity: 1;
}

.signin {
    position: absolute;
    background-color: #FAFAFC;
    text-align: center;
    color: #737373;
    margin: 40% 39% 0px 40%;
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    user-select: none;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 5px;
    border: 1px solid #5D7BE6;
    background-color: #E4E4E4;
    border-radius: 0.25em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    border-color: #5D7BE6;
    background-color: #5D7BE6;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.auth-forget-pass {
    /* text-align: center center; */
    color: #5D7BE6;
    font-size: 14px;
    font-weight: 600;
    height: 10px;
}

/*
  background-color: #E4E4E4;
	border-radius: 5px;
	border: 2px solid #5D7BE6;

	align-items: center;
	*/
