
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 300;
	src: local(''),
		 url('../fonts/mulish-v12-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/mulish-v12-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-regular - latin */
  @font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		 url('../fonts/mulish-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/mulish-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* mulish-700 - latin */
  @font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		 url('../fonts/mulish-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
		 url('../fonts/mulish-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

body{
	font-family: 'Mulish';
}

input{
	width: 100%;
	height: 14px;
	font-size: 14px;
	line-height: 100%;
	border: 1px solid #E4E4E4;
	border-radius: 9px;
}

.form-title{
	font-weight: 500;
	font-size: 20px;
	line-height: 100%;
	color: #0D0D0D;
}

.register-form-container{
	max-width: 204px;
	height: 20px;
	left: 460px;
	top: 140px;
	padding: 140px 460px 142px 459px;
}

.reg-logo-unlock{
	margin: 20px 20px 0 0;
}
.auth-container {
	position: absolute;
	padding: 6px;
	width: 280px;
	margin: 10% 40% 0px 40%;
}

h1{
	font-weight: 700;
	font-size: 20px;
}

.h1a{
	font-weight: 700;
	font-size: 20px;
	color: #737373;
	margin-left: 24px;
	text-decoration: none;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 280px;
  height: 40px;
  padding: 13px 20px;
  margin: 5px 0 5px 0;
  display: inline-block;
  border: 1px solid #E4E4E4;
  border-radius: 9px;
  background: #f1f1f1;
  font-weight: 400;
  font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.line {
	background-color: #FAFAFC;
	color: #E4E4E4;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
	position: relative;
	margin-top: -3px;
}
.line span {
	background-color: #FAFAFC;
	position: relative;
	z-index: 1;
	padding: 0px 10px;
}
.line:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #E4E4E4;
	position: absolute;
	top: 50%;
	margin-top: -1px;
	z-index: 0;
}

.main-submit {
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 280px;
  background: linear-gradient(111.08deg, #5D7BE6 52.67%, #958BFB 84.06%);
  opacity: 0.8;
  border-radius: 9px;
}

.registerbtn:hover {
  opacity:1;
}

a {
  color: #5D7BE6;
}

.signin {
	position: absolute;
	background-color: #FAFAFC;
	text-align: center;
	color: #737373;
	margin: 40% 39% 0px 40%;
}

.text{
	font-size: 10px;
	color: #737373;
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
  }
  .custom-checkbox+label {
	display: inline-flex;

	user-select: none;
  }
  .custom-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
	flex-shrink: 0;
	flex-grow: 0;
	margin-right: 5px;
	border: 1px solid #5D7BE6;
	background-color: #E4E4E4;
	border-radius: 0.25em;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50% 50%;
  }
  .custom-checkbox:checked+label::before {
	border-color: #5D7BE6;
	background-color: #5D7BE6;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

.reg-logo-unlock{
	margin: 20px 20px 0px 0px;
}
.auth-vk{
	margin-left: 36%;
	margin-right: 4%;
}
.forget-pass{
	text-align: center center;
	color: #5D7BE6;
	font-size: 10px;
	margin-left: 36%;
	margin-top: -10%;
}
  /*
  background-color: #E4E4E4;
	border-radius: 5px;
	border: 2px solid #5D7BE6;

	align-items: center;
	*/
