/node_modules
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/*
/.vscode/*
/fonts/*
/img/*
/public/*
/js/*
/css/*
/alfacgiapi/*
.editorconfig/*
/fonts/*
js/app.js
composer.json
package-lock.json
